.card-container {
  margin: 1%;
  flex: 1 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;

  perspective: 25rem;
  cursor: pointer;

  &:hover > .game-card{
    transform: translateZ(3rem);
    box-shadow: 0 0.25rem 1.25rem rgba(0,0,0,0.5);
  }

  &.flipped > .game-card{
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }
}

.card-container.card-size-4{
  flex: 1 0 15%;
}

.card-container.card-size-6{
  flex: 1 0 10%;
}

.game-card.card-size-4 {
  width: 10rem;
  height: 10rem;
}

.game-card.card-size-6 {
  width: 7rem;
  height: 5rem;
}

.game-card {
  width: 10rem;
  height: 12rem;
  transform-origin: right;

  box-shadow: 0 0 .25rem #000;
  border-radius: .5rem;

  transform-style: preserve-3d;
  transition: all 0.5s;


  &__front, &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    background-position: center;
    background-size: cover;
  }


  &__front{
    background-color:slateblue;
  }
  &__back{
    background-color:teal;
    background-image: url('../../assets/card-image.png');

    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }
}
